body {
    margin:80px 80px 100px 100px;
    font-family: Verdana Arial sans-serif;
}

div#fixedheader {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:black;
    clear: both;
}

div#main-content {
    clear: both;
    margin: 110px 0 0 0;
}

.site-logo {
    float: left;
    height: 36px;
    margin: 22px 0 20px;
    width: 220px;
}

.main-menu {
    float: left;
    font-family: Verdana Arial sans-serif;
    clear: left;
}

.main-menu a {
    padding:8px 10px;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}

.main-menu a:link {
    color: #ffffff;
    text-decoration: none;
}
.main-menu a:visited {
    color: #ffffff;
    text-decoration: none;
}
.main-menu a:hover {
    color: #ffffff;
    text-decoration: none;
}
.main-menu a:active {
    color: #ffffff;
    text-decoration: none;
}